@font-face {
    font-family: 'Texta';
    src: url(../fonts/texta.ttf);
}

@font-face {
    font-family: 'Black Ravens';
    src: url(../fonts/black-ravens.ttf);
}

html {font-size: 10px;}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Texta';
    box-sizing: border-box;
    transition: all 0.2s;
}

/*Variables*/
$amarilloOldest: #ffe255;
$negroOldest: #111111;
$small: 1.5rem;
$medium: 2rem;
$large: 2.5rem;
$xlarge: 7rem;

.body {
    background-color: $negroOldest;

// -----------------------------------------HEADER-----------------------------------------------
    header {
        height: 8rem;
        width: 100%;
        background-color: black;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        #logoOldest {
            margin-left: 10%;
            
            img {
                height: 6rem;
            }
        }

        ul {
            margin:auto;
            padding: 0;
        
            li {
                display: inline-flex;

                a {
                    font-size: $small;
                    color: white;
                    text-decoration: none;
                    margin: 0 0.8rem;
                }

                a:hover {
                    color: #aa0041;
                }
            }
        }

        #redesEncabezado {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 10%;

            a{
                margin: 0 0.8rem;
            }

            #instagramHeader{
                background: url(../multimedia/images/instagram.svg) no-repeat;
                width: 1.5rem;
                height: 1.5rem;
            }
            
            #facebookHeader{
                background: url(../multimedia/images/facebook.svg) no-repeat;
                width: 1.5rem;
                height: 1.5rem;
            }
            
            #twitterHeader{
                background: url(../multimedia/images/twitter.svg) no-repeat;
                width: 1.8rem;
                height: 1.5rem;
            }
        }  
    }

// -------------------------------------SLIDE DE PORTADA----------------------------------------
    #BienvenidoTheOldest{
        height: 36rem;
    }
    
    @for $i from 1 through 3 {     /* BUCLE */
        .car-#{$i} {
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 88vh;
        }
    }

// -------------------------------------CONTENIDO COMÚN A TODAS LAS SECCIONES----------------------------------------
    .seccion {
        padding-top: 10rem;
    }

// -------------------------------------SECCION NOVEDADES----------------------------------------
    #seccionNovedades {

        #tituloNovedades{
            text-align: center;
            font-size: $xlarge;
            height: 7rem;
            font-family: "Black Ravens";
        }

        .textoIntro {
            font-size: $large;
            font-family: "Texta";
            color: $amarilloOldest;
            text-align: center;
            margin-bottom: 5rem; 
        }

        #carouselExampleControls {
            margin: auto;
            width: 52rem;
        }
    }

// ------------------------------------------SECCION CARTA---------------------------------------------------
    #seccionCarta {
        .estructuraTitulo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            img {
                height: 1.2rem;
            }
    
            h2{
                font-family: 'Black Ravens';
                font-size: $xlarge;
                margin: 0 4rem;
                height: 7rem;
            }
        }

        .textoIntro {
            font-size: $large;
            font-family: "Texta";
            color: $amarilloOldest;
            text-align: center;
            margin-bottom: 5rem; 
        }
    }

    #gridDeComidas {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 3rem;
        justify-content: center;
        text-align: center;
        margin-bottom: 6rem;

        .contenedor {
            position: relative;

            .comidasimg{
                height: 26rem;
            }

            .filtroOscuro {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:rgba(0,0,0,0.6);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                
                p{
                    transform: translateY(2.5rem);
                    font-size: $medium;
                    color: white;
                }
            }

            .filtroOscuro:hover {
                opacity: 1; 
                box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6); 
                p{
                    transform: translateY(0rem);
                }                 
            }
        }

        h3 {
            font-size: $medium;
            color: $amarilloOldest;
            margin-top: 0.8rem;
            margin-bottom: 4rem;
        }
    }

// -----------------------------------------SECCION PEDIDOS-----------------------------------------------
    #seccionPedidos {
        background-image: url(../multimedia/images/fondoVictoriano.jpg);
        background-size: cover;
        background-position: center center;

        #tituloPedidos {
            text-align: center;
            font-size: $xlarge;
            font-family: "Black Ravens";
            font-weight: lighter;
        }

        #cajasPedidos {
            display: flex;
            justify-content: center;
            
            .caja {
                height: 35rem;
                width: 48rem;
                margin: 4rem 4rem 10rem 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p{
                    font-family: 'Black Ravens';
                    font-size: $xlarge;
                    color: $amarilloOldest;
                    text-align: center;
                    
                    span {
                        font-family: 'Black Ravens';
                        color: #2bff00;
                    }
                }

                .apps {
                    margin: 0 auto;
                    
                    img{
                        height: 8rem;
                        margin: 0 4rem;
                    }
                }
            }
    
            .caja:hover {
                box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
                transform: scale(1.02);
            }
        }
    }

// -----------------------------------------SECCION CONTACTO-----------------------------------------------
    #seccionContacto {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10rem;

        #direccionHorarios {
            width: 40%;
            margin-left: 10%;

            h2{
                color: #aa0041;
                font-size: $xlarge;
                font-family: "Black Ravens";
            }

            h3 {
                color: $amarilloOldest;
                font-size: $medium;
                margin-top: 2rem;
            }

            p {
                color: white;
                font-size: $medium;
            }

            #redesPie {
                display: flex;
                flex-direction: row;
                margin-top: 1.2rem;
    
                a{
                    margin: 0 0.8rem;
                }

                #sinMargen {
                    margin-left: 0;
                }
    
                #instagramHeader{
                    background: url(../multimedia/images/instagram.svg) no-repeat;
                    width: 1.5rem;
                    height: 1.5rem;
                }
                
                #facebookHeader{
                    background: url(../multimedia/images/facebook.svg) no-repeat;
                    width: 1.5rem;
                    height: 1.5rem;
                }
                
                #twitterHeader{
                    background: url(../multimedia/images/twitter.svg) no-repeat;
                    width: 1.8rem;
                    height: 1.5rem;
                }
            }  
        }

        iframe {
            margin-right: 10%;
            width: 100rem;
            height: 45rem;
        }
    }
}





// -----------------------------------------MEDIA QUERIES: HEADER-----------------------------------------------
@media (max-width: 1023px) {
    .body{
        header{
            nav{
                margin-right: 10%;
            }

            #redesEncabezado{
                display: none;
            }
        }
    }
}

@media (max-width: 767px) { 
    .body{
        header{
            flex-direction: column;

            #logoOldest {
                margin: auto;
                
                img {
                    height: 4rem;
                }
            }
            
            nav{
                margin: auto;
            }

            ul{
                li{
                    a{
                        font-size: $small - 0.2rem;
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }
}

// -----------------------------------------MEDIA QUERIES: SLIDE DE PORTADA-----------------------------------------------
@media (max-width: 1023px) { 
    .body {
        #BienvenidoTheOldest{
            height: 34rem;
        }
    }
}

@media (max-width: 767px) { 
    .body {
        #BienvenidoTheOldest{
            height: 20rem;
        }

        @for $i from 1 through 3 {     /* BUCLE */
            .car-#{$i} {
                height: 50vh;
            }
        }
    }
}

// -----------------------------------------MEDIA QUERIES: CONTENIDO COMÚN A TODAS LAS SECCIONES-----------------------------------------------

@media (max-width: 767px) {
    .body {
        .seccion {
            padding-top: 6rem;
        }
    }
}

// -----------------------------------------MEDIA QUERIES: SECCION NOVEDADES-----------------------------------------------


@media (max-width: 1023px) {
    .body {
        #seccionNovedades {
            .textoIntro {
                font-size: $medium;
                margin-bottom: 4rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .body {
        #seccionNovedades {
            #tituloNovedades {
                font-size: 6rem;
                height: 6rem;
            }

            .textoIntro {
                font-size: $medium;
                margin-bottom: 4rem;
            }

            #carouselExampleControls {
                margin: auto;
                width: 35rem;
            }
        }
    }
}

// -----------------------------------------MEDIA QUERIES: SECCION CARTA-----------------------------------------------
@media (max-width: 1199px) {
    .body {

        #gridDeComidas {
            .contenedor {
                .comidasimg{
                    height: 22rem;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .body {

        #seccionCarta {
            .textoIntro {
                font-size: $medium;
                margin-bottom: 4rem;
            }
        }
    
        #gridDeComidas {
            .contenedor {
                .comidasimg{
                    height: 17rem;
                }

                .filtroOscuro {
                    p{
                        font-size: $small;
                    }
                }
            }
            
            h3 {
                font-size: $small;
            }
        }
    }
}

@media (max-width: 767px) {
    .body {
        #seccionCarta {
            .estructuraTitulo{
                img {
                    height: 0.5rem;
                }

                h2 {
                    font-size: 6rem;
                    height: 6rem;
                    margin: 0 2rem;
                }
            }

            .textoIntro {
                font-size: $medium;
                line-height: $medium;
                margin: 2rem 20% 4rem 20%;
                font-family: "Texta"; 
            }
        }

        #gridDeComidas {
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 1.5rem;
            margin: 0rem;
            margin-bottom: 4rem;
            .contenedor {
                .comidasimg{
                    height: 12rem;
                }

                .filtroOscuro{
                    p{
                        font-size: $small;
                    }
                }
            }
            
            h3 {
                font-size: $small;
                margin-bottom: 3rem;
            }
        }
    }
}

// -----------------------------------------MEDIA QUERIES:SECCION PEDIDOS-----------------------------------------------
@media (max-width: 1199px) {
    .body {
        #seccionPedidos {
            #cajasPedidos {
                .caja {
                    height: 32rem;
                    width: 44rem;
                    margin: 4rem 3rem 10rem 3rem;

                    p{
                        font-size: $xlarge - 1rem;
                    }

                    .apps {
                        img{
                            height: 8rem;
                            margin: 0 4rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .body {
        #seccionPedidos {
            #cajasPedidos {
                .caja {
                    height: 22rem;
                    width: 32rem;
                    margin: 4rem 2rem 10rem 2rem;

                    p{
                        font-size: $xlarge - 2rem;
                    }

                    .apps {
                        margin: 0 auto;
                        
                        img{
                            height: 6rem;
                            margin: 0 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .body {
        #seccionPedidos {
            padding-bottom: 6rem;
            #tituloPedidos{
                font-size: 6rem; 
                margin: 2rem 10%;
                line-height: 5rem;
            }
            #cajasPedidos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .caja {
                    height: 22rem;
                    width: 32rem;
                    margin: 1.5rem 1rem;

                    p{
                        font-size: $xlarge - 2rem;
                    }

                    .apps {
                        margin: 0 auto;
                        
                        img{
                            height: 6rem;
                            margin: 0 2rem;
                        }
                    }
                }
            }
        }
    }
}

// -----------------------------------------MEDIA QUERIES: SECCION CONTACTO-----------------------------------------------
@media (max-width: 1199px) {
    .body {
        #seccionContacto {
            iframe {
                width: 60rem;
            }
        }
    }
}

@media (max-width: 1023px) {
    .body {
        #seccionContacto {
            #direccionHorarios {    
                h2{
                    font-size: $xlarge;
                }
    
                h3 {
                    font-size: $small;
                    margin-top: 2rem;
                }
    
                p {
                    font-size: $small;
                }
            }
    
            iframe {
                width: 50rem;
                height: 38rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .body {
        #seccionContacto {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 6rem;
            padding-bottom: 4rem;

            #direccionHorarios {   
                width: 100%;
                margin-left: 0;
                text-align: center;
                
                h2{
                    font-size: 6rem; 
                }

                #redesPie {
                    justify-content: center;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
        
                    a{
                        margin: 0 0.8rem;
                    }
        
                    #sinMargen {
                        margin-left: 0.4rem;
                    }
                }
            }  
    
            iframe {
                margin-right: 0;
                width: auto;
                height: auto;
            }
        }
    }
}