@font-face {
  font-family: 'Texta';
  src: url(../fonts/texta.ttf);
}

@font-face {
  font-family: 'Black Ravens';
  src: url(../fonts/black-ravens.ttf);
}

html {
  font-size: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Texta';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/*Variables*/
.body {
  background-color: #111111;
  /* BUCLE */
  /* BUCLE */
  /* BUCLE */
}

.body header {
  height: 8rem;
  width: 100%;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.body header #logoOldest {
  margin-left: 10%;
}

.body header #logoOldest img {
  height: 6rem;
}

.body header ul {
  margin: auto;
  padding: 0;
}

.body header ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.body header ul li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin: 0 0.8rem;
}

.body header ul li a:hover {
  color: #aa0041;
}

.body header #redesEncabezado {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
}

.body header #redesEncabezado a {
  margin: 0 0.8rem;
}

.body header #redesEncabezado #instagramHeader {
  background: url(../multimedia/images/instagram.svg) no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.body header #redesEncabezado #facebookHeader {
  background: url(../multimedia/images/facebook.svg) no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.body header #redesEncabezado #twitterHeader {
  background: url(../multimedia/images/twitter.svg) no-repeat;
  width: 1.8rem;
  height: 1.5rem;
}

.body #BienvenidoTheOldest {
  height: 36rem;
}

.body .car-1 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 88vh;
}

.body .car-2 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 88vh;
}

.body .car-3 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 88vh;
}

.body .seccion {
  padding-top: 10rem;
}

.body #seccionNovedades #tituloNovedades {
  text-align: center;
  font-size: 7rem;
  height: 7rem;
  font-family: "Black Ravens";
}

.body #seccionNovedades .textoIntro {
  font-size: 2.5rem;
  font-family: "Texta";
  color: #ffe255;
  text-align: center;
  margin-bottom: 5rem;
}

.body #seccionNovedades #carouselExampleControls {
  margin: auto;
  width: 52rem;
}

.body #seccionCarta .estructuraTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body #seccionCarta .estructuraTitulo img {
  height: 1.2rem;
}

.body #seccionCarta .estructuraTitulo h2 {
  font-family: 'Black Ravens';
  font-size: 7rem;
  margin: 0 4rem;
  height: 7rem;
}

.body #seccionCarta .textoIntro {
  font-size: 2.5rem;
  font-family: "Texta";
  color: #ffe255;
  text-align: center;
  margin-bottom: 5rem;
}

.body #gridDeComidas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-column-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 6rem;
}

.body #gridDeComidas .contenedor {
  position: relative;
}

.body #gridDeComidas .contenedor .comidasimg {
  height: 26rem;
}

.body #gridDeComidas .contenedor .filtroOscuro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.body #gridDeComidas .contenedor .filtroOscuro p {
  -webkit-transform: translateY(2.5rem);
          transform: translateY(2.5rem);
  font-size: 2rem;
  color: white;
}

.body #gridDeComidas .contenedor .filtroOscuro:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
}

.body #gridDeComidas .contenedor .filtroOscuro:hover p {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.body #gridDeComidas h3 {
  font-size: 2rem;
  color: #ffe255;
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}

.body #seccionPedidos {
  background-image: url(../multimedia/images/fondoVictoriano.jpg);
  background-size: cover;
  background-position: center center;
}

.body #seccionPedidos #tituloPedidos {
  text-align: center;
  font-size: 7rem;
  font-family: "Black Ravens";
  font-weight: lighter;
}

.body #seccionPedidos #cajasPedidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body #seccionPedidos #cajasPedidos .caja {
  height: 35rem;
  width: 48rem;
  margin: 4rem 4rem 10rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body #seccionPedidos #cajasPedidos .caja p {
  font-family: 'Black Ravens';
  font-size: 7rem;
  color: #ffe255;
  text-align: center;
}

.body #seccionPedidos #cajasPedidos .caja p span {
  font-family: 'Black Ravens';
  color: #2bff00;
}

.body #seccionPedidos #cajasPedidos .caja .apps {
  margin: 0 auto;
}

.body #seccionPedidos #cajasPedidos .caja .apps img {
  height: 8rem;
  margin: 0 4rem;
}

.body #seccionPedidos #cajasPedidos .caja:hover {
  -webkit-box-shadow: 0px 0px 20px 5px black;
          box-shadow: 0px 0px 20px 5px black;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.body #seccionContacto {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10rem;
}

.body #seccionContacto #direccionHorarios {
  width: 40%;
  margin-left: 10%;
}

.body #seccionContacto #direccionHorarios h2 {
  color: #aa0041;
  font-size: 7rem;
  font-family: "Black Ravens";
}

.body #seccionContacto #direccionHorarios h3 {
  color: #ffe255;
  font-size: 2rem;
  margin-top: 2rem;
}

.body #seccionContacto #direccionHorarios p {
  color: white;
  font-size: 2rem;
}

.body #seccionContacto #direccionHorarios #redesPie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.2rem;
}

.body #seccionContacto #direccionHorarios #redesPie a {
  margin: 0 0.8rem;
}

.body #seccionContacto #direccionHorarios #redesPie #sinMargen {
  margin-left: 0;
}

.body #seccionContacto #direccionHorarios #redesPie #instagramHeader {
  background: url(../multimedia/images/instagram.svg) no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.body #seccionContacto #direccionHorarios #redesPie #facebookHeader {
  background: url(../multimedia/images/facebook.svg) no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.body #seccionContacto #direccionHorarios #redesPie #twitterHeader {
  background: url(../multimedia/images/twitter.svg) no-repeat;
  width: 1.8rem;
  height: 1.5rem;
}

.body #seccionContacto iframe {
  margin-right: 10%;
  width: 100rem;
  height: 45rem;
}

@media (max-width: 1023px) {
  .body header nav {
    margin-right: 10%;
  }
  .body header #redesEncabezado {
    display: none;
  }
}

@media (max-width: 767px) {
  .body header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body header #logoOldest {
    margin: auto;
  }
  .body header #logoOldest img {
    height: 4rem;
  }
  .body header nav {
    margin: auto;
  }
  .body header ul li a {
    font-size: 1.3rem;
    margin: 0 0.5rem;
  }
}

@media (max-width: 1023px) {
  .body #BienvenidoTheOldest {
    height: 34rem;
  }
}

@media (max-width: 767px) {
  .body {
    /* BUCLE */
    /* BUCLE */
    /* BUCLE */
  }
  .body #BienvenidoTheOldest {
    height: 20rem;
  }
  .body .car-1 {
    height: 50vh;
  }
  .body .car-2 {
    height: 50vh;
  }
  .body .car-3 {
    height: 50vh;
  }
}

@media (max-width: 767px) {
  .body .seccion {
    padding-top: 6rem;
  }
}

@media (max-width: 1023px) {
  .body #seccionNovedades .textoIntro {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 767px) {
  .body #seccionNovedades #tituloNovedades {
    font-size: 6rem;
    height: 6rem;
  }
  .body #seccionNovedades .textoIntro {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .body #seccionNovedades #carouselExampleControls {
    margin: auto;
    width: 35rem;
  }
}

@media (max-width: 1199px) {
  .body #gridDeComidas .contenedor .comidasimg {
    height: 22rem;
  }
}

@media (max-width: 1023px) {
  .body #seccionCarta .textoIntro {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .body #gridDeComidas .contenedor .comidasimg {
    height: 17rem;
  }
  .body #gridDeComidas .contenedor .filtroOscuro p {
    font-size: 1.5rem;
  }
  .body #gridDeComidas h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .body #seccionCarta .estructuraTitulo img {
    height: 0.5rem;
  }
  .body #seccionCarta .estructuraTitulo h2 {
    font-size: 6rem;
    height: 6rem;
    margin: 0 2rem;
  }
  .body #seccionCarta .textoIntro {
    font-size: 2rem;
    line-height: 2rem;
    margin: 2rem 20% 4rem 20%;
    font-family: "Texta";
  }
  .body #gridDeComidas {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-column-gap: 1.5rem;
    margin: 0rem;
    margin-bottom: 4rem;
  }
  .body #gridDeComidas .contenedor .comidasimg {
    height: 12rem;
  }
  .body #gridDeComidas .contenedor .filtroOscuro p {
    font-size: 1.5rem;
  }
  .body #gridDeComidas h3 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 1199px) {
  .body #seccionPedidos #cajasPedidos .caja {
    height: 32rem;
    width: 44rem;
    margin: 4rem 3rem 10rem 3rem;
  }
  .body #seccionPedidos #cajasPedidos .caja p {
    font-size: 6rem;
  }
  .body #seccionPedidos #cajasPedidos .caja .apps img {
    height: 8rem;
    margin: 0 4rem;
  }
}

@media (max-width: 1023px) {
  .body #seccionPedidos #cajasPedidos .caja {
    height: 22rem;
    width: 32rem;
    margin: 4rem 2rem 10rem 2rem;
  }
  .body #seccionPedidos #cajasPedidos .caja p {
    font-size: 5rem;
  }
  .body #seccionPedidos #cajasPedidos .caja .apps {
    margin: 0 auto;
  }
  .body #seccionPedidos #cajasPedidos .caja .apps img {
    height: 6rem;
    margin: 0 2rem;
  }
}

@media (max-width: 767px) {
  .body #seccionPedidos {
    padding-bottom: 6rem;
  }
  .body #seccionPedidos #tituloPedidos {
    font-size: 6rem;
    margin: 2rem 10%;
    line-height: 5rem;
  }
  .body #seccionPedidos #cajasPedidos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body #seccionPedidos #cajasPedidos .caja {
    height: 22rem;
    width: 32rem;
    margin: 1.5rem 1rem;
  }
  .body #seccionPedidos #cajasPedidos .caja p {
    font-size: 5rem;
  }
  .body #seccionPedidos #cajasPedidos .caja .apps {
    margin: 0 auto;
  }
  .body #seccionPedidos #cajasPedidos .caja .apps img {
    height: 6rem;
    margin: 0 2rem;
  }
}

@media (max-width: 1199px) {
  .body #seccionContacto iframe {
    width: 60rem;
  }
}

@media (max-width: 1023px) {
  .body #seccionContacto #direccionHorarios h2 {
    font-size: 7rem;
  }
  .body #seccionContacto #direccionHorarios h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .body #seccionContacto #direccionHorarios p {
    font-size: 1.5rem;
  }
  .body #seccionContacto iframe {
    width: 50rem;
    height: 38rem;
  }
}

@media (max-width: 767px) {
  .body #seccionContacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
  .body #seccionContacto #direccionHorarios {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .body #seccionContacto #direccionHorarios h2 {
    font-size: 6rem;
  }
  .body #seccionContacto #direccionHorarios #redesPie {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .body #seccionContacto #direccionHorarios #redesPie a {
    margin: 0 0.8rem;
  }
  .body #seccionContacto #direccionHorarios #redesPie #sinMargen {
    margin-left: 0.4rem;
  }
  .body #seccionContacto iframe {
    margin-right: 0;
    width: auto;
    height: auto;
  }
}
/*# sourceMappingURL=estilo-paginas.css.map */