@font-face {
    font-family: 'Texta';
    src: url(../fonts/texta.ttf);
}

@font-face {
    font-family: 'Black Ravens';
    src: url(../fonts/black-ravens.ttf);
}


html {font-size: 10px;}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.2s;
}

/*Variables*/

$amarilloOldest: #ffe255;
$negroOldest: #111111;

$xlarge: 7rem;

.body {
    background-color: $negroOldest;

    // -----------------------------------------HEADER-----------------------------------------------
    header {
        height: 8rem;
        width: 100%;
        background-color: black;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        z-index: 2;

        #logoOldest {
            margin: auto;
            
            img {
                height: 6rem;
            }
        }
    }

    // -----------------------------------------SECCIÓN LOCALES-----------------------------------------------
    h2 {
        font-family: "Black Ravens";
        font-size: 9rem;
        font-weight: lighter;
        color: $amarilloOldest;
        text-align: center;
        transform: rotate(-7deg);
        width: auto;
        margin: 2rem;
    }

    .locales {
        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
            text-decoration: none;
            margin: 0 4rem;
        
            .imagen {
                position: relative;
                display: flex;
                height: 35rem;
                width: 48rem;
                background-position: center;
                background-size: cover;
                

                .filtroOscuro {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background:rgba(0,0,0,0.4);
                    display: flex;

                    h3 {
                        margin: auto;
                        font-family: 'Black Ravens';
                        color: white;
                        font-weight: normal;
                        font-size: $xlarge;
                    }
                }
            }

            .imagen:hover {
                box-shadow: 0px 0px 20px 5px rgb(12, 12, 12);
                transform: scale(1.02);

                .filtroOscuro:hover {
                    background:rgba(0,0,0,0);
                }

                h3 {
                    transform: translateY(2.5rem);
                    opacity: 0;
                }
            }

            #caballito {
                background-image: url(../multimedia/images/Inicio-caballito.png);
            }

            #belgrano {
                background-image: url(../multimedia/images/Inicio-belgrano.png);
            }
        }
    }
}





// -----------------------------------------MEDIA QUERIES: SECCION LOCALES-----------------------------------------------
@media (max-width: 1199px) { 
    .body{
        .locales {
            a {
                margin: 0 3rem;

                .imagen {
                    height: 32rem;
                    width: 44rem;
                }
            }
        }
    }
}

@media (max-width: 1023px) { 
    .body{
        h2 {
            font-size: 8rem;
        }

        .locales {
            a {
                margin: 0 2rem;

                .imagen {
                    height: 22rem;
                    width: 32rem;

                    .filtroOscuro {
                        h3 {
                            font-size: $xlarge - 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) { 
    .body{
        header{
            flex-direction: column;
        }

        h2 {
            font-size: 7rem;
            height: 7rem;
            line-height: 9rem;
            margin: 2rem 1rem;
            transform: rotate(0deg);
        }

        .locales {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                .imagen {
                    margin: 1.5rem 1rem;
                    height: 20rem;
                }

                #belgrano {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}